.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-left: 20px;
  width: 100%;
  display: flex;
}

.buyBtn {
  background-color: #f5222d;
  color: #fff;
  font-weight: bold;
  border: none;
  height: 58px;
  width: 58px;

  &:hover, &:focus {
    background-color: #f5222d;
    /* border-color: #f5222d; */
    color: #fff;
  }

  &:active {
    background-color: #a80d15;
  }
}

.sellBtn {
  background-color: #52c41a;
  color: #fff;
  font-weight: bold;
  border: none;
  height: 58px;
  width: 58px;

  &:hover, &:focus {
    background-color: #52c41a;
    /* border-color: #52c41a; */
    color: #fff;
  }

  &:active {
    background-color: #30750d;
  }
}
/*
.rapidCheckbox {
  align-self: center;
} */

.checkboxGroup {
  display: flex;
  flex-direction: column;
  align-self: center;
}

.title {
  margin-right: 10px;
  margin-bottom: 5px;
  text-align: center;
}
